**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
**/.venv
**/venv
**/env
.git
.gitignore
*.md
**/.pytest_cache
**/.coverage
**/htmlcov
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/.next
**/.env
**/.env.local
**/dist
**/build
**/tests
**/*.test.py
